.cabecalho {
	height: 80px;
	background-color: #0b0b0b;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 80px;
	border-bottom: 1px solid #282828;
}

.cabecalho .logo{
	display: flex;
	gap: 15px;
}

.cabecalho .logo .cristal {
    width: 80px;
    margin-left: -60px;
}

.cabecalho .menu {
	display: flex;
	gap: 30px;
}

.cabecalho .menu li a {
	padding: 25px;
	color: #e8e8e8;
	font-weight: bolder;
	font-size: 18px;
	font-family: "Arial";
    text-decoration: none;
}

.cabecalho .menu li a:hover {
	border-bottom: 2px solid #fff;
}

body{
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background-color:  #212121;
    color: #f5f5f5;
}

body.modo-claro{
    background-color: #5e5b5bad;
    color: #333333;
}

.titul{
    padding: 5px;
    text-decoration:underline;
}

.imagem-botao-2{
    display: none;
}

header{
    display: flex;
    justify-content: space-between; 
    padding: 25px;
}

header .logo, 
header .imagem-botao , header .imagem-botao-2{
    width: 30px;
    transition: 0.2s;
}

header a img.logo {
    width: 55px
}

header #botao-alterar-tema{
    background: none;
    border:  none;
}

header .logo:hover , header .imagem-botao:hover , main .cartao-pokemon:hover , header .imagem-botao-2:hover{
    transform: scale(1.05);
    cursor: pointer;
}

main{
    padding: 25px;
}

.bestiario{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.cartao-pokemon{
    background-color:  #a8a8a8;
    width: 200PX;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}

main .cartao-pokemon:hover{
    background-color: #c5c5c5;
}

.modo-claro .cartao-pokemon{
    background-color: #d8e3ec;
}

main .cartao-pokemon .informacoes{
    display: flex;
    justify-content: space-between;
    border: 1px solid #333333;
    border-radius: 10px;
}

main .cartao-pokemon .informacoes span{
    padding: 5px;
    text-transform: uppercase;
    font-size: 17px;
}

main .cartao-pokemon .gif{
    width: 120px;
    height: 120px;
}

main .cartao-pokemon .tipos{
    display: flex;
    gap: 15px;
}

main .cartao-pokemon .tipo{
    padding: 8px;
    border-radius: 10px;
}

.grama{
    background-color: #7ac74c;
}

.veneno{
    background-color: #df67ddfb;
}

.fogo{
    background-color: #ee8130;
}

.agua{
    background-color: #6390f0;
    color: white;
}

.inseto{
    background-color: #a6b91a;
}

.sombras{
    background-color: #3c2444;
    color: white;
}

.carnal{
    background-color: rgb(116, 50, 50);
    color: white;
}

.fofo{
    background-color: pink;
}

.madeira{
    background-color: rgb(92, 81, 74);
    color: white;
}

main .descricao{
    max-height: 80px;
    overflow-y: scroll;
    font-size: 14px;
    padding-right: 10px;

}

body.modo-claro #imagem-botao{
    display: block;
}

body #imagem-botao-2{
    display: block;
}

body #imagem-botao{
    display: none;
}